<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {% include snippets/get-locale-string.html key='CONTACT' %}
        <h3><i class="fa fa-map-marker"></i> {{ __return }}</h3>
        <p class="footer-contact">
          {% include snippets/get-locale-string.html key='COMPANY' %}{{ __return }} <br>
          {% include snippets/get-locale-string.html key='PHONE' %}{{ __return }}: {{ site.telephone_number }}<br>
          {% include snippets/get-locale-string.html key='EMAIL' %}{{ __return }}: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-4">
        {% include snippets/get-locale-string.html key='LINKS' %}
        <h3><i class="fa fa-external-link"></i> {{ __return }}</h3>

        {%- for _item in site.data.navigation.links -%}
        {%- include snippets/get-string-from-locale-config.html locale=_item.urls -%}
        {%- assign _item_url = __return -%}

        {%- include snippets/get-string-from-locale-config.html locale=_item.titles -%}
        {%- assign _item_title = __return -%}
        <p><a href="{{ _item_url }}">{{ _item_title }}</a></p>
        {%- endfor -%}
      </div>
      <div class="col-md-4">
        {% include snippets/get-locale-string.html key='SOCIAL' %}
        <h3><i class="fa fa-heart"></i> {{ __return }}</h3>
        <div id="social-icons">
          {% if site.wechat_link %}
          <a href="{{ site.wechat_link }}" class="btn-group -wechat">
            <i class="fa fa-wechat"></i>
          </a>
          {% endif %}

          {% if site.linkedin_link %}
            <a href="{{ site.linkedin_link }}" class="btn-group linkedin">
              <i class="fa fa-linkedin-square"></i>
            </a>
          {% endif %}

          {% if site.twitter_link %}
            <a href="{{ site.twitter_link }}" class="btn-group twitter">
              <i class="fa fa-twitter"></i>
            </a>
          {% endif %}

          {% if site.facebook_link %}
            <a href="{{ site.facebook_link }}" class="btn-group facebook">
              <i class="fa fa-facebook"></i>
            </a>
          {% endif %}
        </div>
      </div>    
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="#">{{ site.website }}</a>. Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p>
  </div>
</footer>