<head>
  <!-- meta data & title -->
  <meta charset="utf-8">
  {%- include snippets/get-article-title.html article=page -%}
  <title>{%- if __return -%}{{ __return }} - {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{%- if page.excerpt -%}{{ page.excerpt | strip_html | strip_newlines | strip | xml_escape | truncate: 160 }}{%- else -%}{{ site.description | xml_escape }}{%- endif -%}">
  {% seo %}
  <meta name="author" content="">

  <!-- Extra Open Graph :: Start -->
  {% if page.image %}
  <meta property="og:image:width" content="{{ site.data.images[page.image].width }}"/>
  <meta property="og:image:height" content="{{ site.data.images[page.image].height }}"/>
  {% endif %}
  <!-- Extra Open Graph :: End -->

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="../assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/animate.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  {%- include head/custom.html -%}
</head>